<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="paper-progress" version="1.0.0" targetFramework="Native" />
  <package id="paper-styles" version="1.0.3" targetFramework="Native" />
  <package id="polymer" version="1.0.0" targetFramework="Native" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="Native" />
  <package id="polymer-iron-range-behavior" version="1.0.1" targetFramework="Native" />
</packages>